* {
    font-family: 'Roboto';
}

.header-container {
    display: flex;
    background-color: #1F2937;
}

.left-container, .right-container {
    flex: 1;
}

.content-container {
    display: flex;
    flex: 6;
    flex-direction: column;
}

.banner {
    display: flex;
    align-items: center;

}

.list {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 16px;
}

.header-body {
    display: flex;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.text-container, .img-container {
    flex: 1 1 50%;
}

.img-container {
    margin-left: auto;
    width: 100%;
    height:auto;
    object-fit: cover;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.para {
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

