* {
    font-family: 'Roboto';
}

.header-container {
    display: flex;
}

.left-container, .right-container {
    flex: 1;
    background-color: #1F2937;
}

.content-container {
    display: flex;
    flex: 6;
    flex-direction: column;
    background-color: #1F2937;
}

.banner {
    display: flex;
    align-items: center;
    color: #F9FAF8;
}

.list {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 16px;
}

.list a {
    color: #F9FAF8;
    text-decoration: none;
}

.header-body {
    display: flex;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.text-container, .img-container {
    flex: 1 1 50%;
}

.img-container {
    margin-left: auto;
    width: 100%;
    height:auto;
    object-fit: cover;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.para {
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.info-container {
    display:flex;
    flex-direction: column;
}

.info-title {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    margin: 36px;
}

.info-content {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.img-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 120px;
}

.caption {
    font-size: 12px;
    text-align: center;
}

.info-content img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: #3882F6 1px solid;
    border-radius: 16px;
}

